.buttonInput {
  color: var(--gray-100);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.6rem;
  height: 3.2rem;
  background-color: var(--blue-300);
  margin-left: 10px;
  border-radius: 8px;
  border: 1px solid var(--blue-100);
  gap: 3px;
}

.buttonInput:focus-within {
  border: 1px solid var(--blue-100);
  outline: var(--blue-100), solid 1px;
}

.buttonInput:hover {
  background-color: var(--blue-100);
  border: 1px solid var(--blue-300);
  outline: var(--blue-300), solid 1px;
}

.descriptionTaskForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1.6875rem;
}

.descriptionTaskForm input {
  color: var(--gray-300);
  background-color: var(--gray-500);
  width: 39.8rem;
  height: 3.3rem;
  border-radius: 8px;
  border: 1px solid var(--gray-700);
  padding-left: 10px;
}

.descriptionTaskForm input::placeholder {
  color: var(--gray-300);
}

.descriptionTaskForm input:focus {
  border: 1px solid var(--purple-100);
  outline: var(--purple-100), solid 1px;
}
